* {
  box-sizing: border-box;
}

.orange-bg {
  background-color: #fceae8; 
  
  border-radius: 10px;
}

.carousel-item {
  padding: 20px 40px;
}
.price {
    

  color: #FF136F;
  


}

.buy-now-btn {
  background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.container {
  margin-bottom: 100px;
}
.watch-bg {
  background: orange;
  
}
.bag-bg {
  background: orchid
}

.shoes-bg {
  background: blue;
}

.watch-bg, .bag-bg, .shoes-bg {
  padding: 10px 30px;
  border-radius: 10px;
  
}

.categories h1 {
    color: white
}

.categories img {
  width: 100px
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey
}

.card-footer {
  background-color: white;
  border-top: none;
}

#subscribe {
  height: 300px;
}

#subscribe h6 {
  color: grey
}

footer {
  text-align: center;
}
